body{
    background-color:rgb(206, 234, 240) ;
    padding: 40px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6rem;
}
.accordian{
    background-color: rgb(254, 240, 222);
    padding: 4px 16px;
    margin-bottom: 16px;
    border-radius: 4px;
    box-shadow: 1px 1px 5px rgb(254, 230, 252);
    cursor: pointer;

}
.question{
    display: flex;
    align-items: center;
    justify-content: space-between  ;
}
.icon{
    margin-right: 16px;
    transition:transform 0.2s;
}
.icon.active{
    transform: rotate(-180deg);
}
.answer{
    color:#700;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s;
}
